* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff894f;
  --secondary: #478fc2;
  --dark: #1a1a2e;
  --light: #f8f9fa;
  --main-title: #92f29c;
  --sub-title: #4ecdc4;
  --pixel-size: 4px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  font-weight: 200;
  font-style: normal;
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
  background-image: linear-gradient(
      rgba(26, 26, 46, 0.9),
      rgba(26, 26, 46, 0.9)
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    );
}

/* app UI */

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.title-container {
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
  padding: 0 10px;
  text-transform: uppercase;
}

#main-title {
  font-size: 2rem;
  color: var(--main-title);
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.6);
}

#sub-title {
  line-height: 1.5;
  font-size: 0.8rem;
  margin-top: 20px;
  color: var(--sub-title);
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokeball-container img {
  max-height: 350px;
}

.image-container img {
  max-height: 350px;
  padding: 40px;
}

.label {
  color: var(--primary);
}

.stats-container {
  padding: 10px;
}

.stats-p {
  color: var(--secondary);
  margin: 10px;
  text-wrap: nowrap;
}

#error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  cursor: pointer;
  background: #ff5555;
  padding: 10px 20px;
  font-family: "Press Start 2P";
  text-transform: uppercase;
  color: #000000;
  box-shadow: 0 5px 0 #aa3333;
  transition: transform 0.1s, box-shadow 0.1s;
  outline: none;
  border: 4px solid #000;
}

#submit-btn:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #aa3333;
}

#submit-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

#form-input {
  background: var(--light);
  padding: 10px;
  font-family: "Press Start 2P";
  outline: var(--light) solid 1px;
  border: none;
}

#form-input::placeholder {
  color: #000000;
  font-family: "Press Start 2P";
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer-container p {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

.twitter-username {
  text-decoration: none;
  color: var(--main-title);
}

.twitter-username:hover {
  color: var(--light);
}

/* !! next: header !! */

/* media queries */

@media screen and (max-width: 650px) {
  .image-container img {
    max-height: 300px;
  }

  .stats-p,
  .footer-container p {
    font-size: 15px;
  }
}

@media screen and (max-width: 630px) {
  #main-title {
    font-size: 1.6rem;
  }

  #sub-title {
    font-size: 0.7rem;
  }

  .stats-p,
  .footer-container p {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  #error-message {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 540px) {
  .info-container {
    flex-direction: column;
  }

  .image-container img {
    padding: 35px;
  }

  .stats-container {
    padding-top: 0;
  }

  #error-message {
    margin: 0;
    max-width: 298px;
  }

  .form-container {
    padding-top: 10px;
  }

  #form-input {
    max-width: 200px;
  }

  #submit-btn {
    padding: 10px;
  }

  .footer-container p {
    padding: 0 15px;
  }
}

@media screen and (max-width: 371px) {
  #form-input {
    max-width: 150px;
  }

  #submit-btn {
    padding: 8px;
  }
}
