* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff894f;
  --secondary: #478fc2;
  --dark: #1a1a2e;
  --light: #f8f9fa;
  --main-title: #92f29c;
  --sub-title: #4ecdc4;
  --pixel-size: 4px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  font-weight: 200;
  font-style: normal;
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
  background-image: linear-gradient(
      rgba(26, 26, 46, 0.9),
      rgba(26, 26, 46, 0.9)
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    );
}

/* app UI */

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.title-container {
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
  padding: 0 10px;
  text-transform: uppercase;
}

#main-title {
  font-size: 2rem;
  color: var(--main-title);
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.6);
}

#sub-title {
  line-height: 1.5;
  font-size: 0.8rem;
  margin-top: 20px;
  color: var(--sub-title);
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokeball-container img {
  max-height: 350px;
  user-select: none;
}

.image-container img {
  max-height: 350px;
  padding: 40px;
}

.label {
  color: var(--primary);
}

.stats-container {
  padding: 10px;
}

.stats-p {
  color: var(--secondary);
  margin: 10px;
  text-wrap: nowrap;
}

#error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  cursor: pointer;
  background: #ff5555;
  padding: 10px 20px;
  font-family: "Press Start 2P";
  text-transform: uppercase;
  color: #000000;
  box-shadow: 0 5px 0 #aa3333;
  transition: transform 0.1s, box-shadow 0.1s;
  outline: none;
  border: 4px solid #000;
}

#submit-btn:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #aa3333;
}

#submit-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

#form-input {
  background: var(--light);
  padding: 10px;
  font-family: "Press Start 2P";
  outline: var(--light) solid 1px;
  border: none;
}

#form-input::placeholder {
  color: #000000;
  font-family: "Press Start 2P";
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.footer-container p {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

.twitter-username {
  text-decoration: none;
  color: var(--main-title);
}

.twitter-username:hover {
  color: var(--light);
}

/* about page */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  font-size: clamp(14px, 2vw, 16px);
}

.about-p {
  margin: 20px 0px;
}

#pokeapi-link {
  text-decoration: none;
  color: var(--secondary);
}

#pokeapi-link:hover {
  color: var(--light);
}

/* header */
.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  user-select: none;
}

#header-icon {
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.nav {
  display: flex;
  align-items: space-between;
  justify-content: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #f8f9fabb;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.nav-links li a:hover {
  color: var(--light);
}

.pokefinder-container {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.pokefinder-container a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #f8f9fabb;
}

.pokefinder-container a:hover {
  color: var(--light);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  height: 25px;
  width: 25px;
}

.hamburger .bar {
  height: 4px;
  margin: 3px;
  flex-basis: 100%;
  background-color: var(--dark);
}

/* media queries */

@media screen and (max-width: 650px) {
  .image-container img {
    max-height: 300px;
  }

  .stats-p,
  .footer-container p {
    font-size: 15px;
  }
}

@media screen and (min-width: 630px) {
  .nav {
    gap: 80px;
  }
}

@media screen and (max-width: 630px) {
  .header {
    padding: 15px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 10px;
    column-gap: 20rem;
  }

  .pokefinder-container {
    order: 1;
    margin-right: 0;
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: flex;
    order: 2;
    margin-left: 0;
    align-items: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    order: 3;
    gap: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--dark);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-links li {
    flex-basis: 100%;
    text-align: center;
  }

  #main-title {
    font-size: 1.6rem;
  }

  #sub-title {
    font-size: 0.7rem;
  }

  .stats-p,
  .footer-container p {
    font-size: 13px;
  }
}

@media screen and (max-width: 598px) {
  nav {
    column-gap: 18rem;
  }
}

@media screen and (max-width: 564px) {
  nav {
    column-gap: 16rem;
  }
}

@media screen and (max-width: 550px) {
  #error-message {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 540px) {
  .info-container {
    flex-direction: column;
  }

  .image-container img {
    padding: 35px;
  }

  .stats-container {
    padding-top: 0;
  }

  #error-message {
    margin: 0;
    max-width: 298px;
  }

  .form-container {
    padding-top: 10px;
  }

  #form-input {
    max-width: 200px;
  }

  #submit-btn {
    padding: 10px;
  }

  .footer-container p {
    padding: 0 15px;
  }
}

@media screen and (max-width: 530px) {
  nav {
    column-gap: 14rem;
  }
}

@media screen and (max-width: 496px) {
  nav {
    column-gap: 12rem;
  }
}

@media screen and (max-width: 462px) {
  nav {
    column-gap: 10rem;
  }
}

@media screen and (max-width: 428px) {
  nav {
    column-gap: 8rem;
  }
}

@media screen and (max-width: 394px) {
  nav {
    column-gap: 6rem;
  }
}

@media screen and (max-width: 360px) {
  nav {
    column-gap: 4rem;
  }
}

@media screen and (max-width: 371px) {
  #form-input {
    max-width: 150px;
  }

  #submit-btn {
    padding: 8px;
  }
}
