* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff894f;
  --secondary: #478fc2;
  --dark: #1a1a2e;
  --light: #f8f9fa;
  --main-title: #92f29c;
  --sub-title: #4ecdc4;
  --pixel-size: 4px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  font-weight: 200;
  font-style: normal;
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
  background-image: linear-gradient(
      rgba(26, 26, 46, 0.9),
      rgba(26, 26, 46, 0.9)
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent var(--pixel-size),
      rgba(255, 255, 255, 0.05) var(--pixel-size),
      rgba(255, 255, 255, 0.05) calc(var(--pixel-size) * 2)
    );
}

#main {
  border: 4px solid var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.title-container {
  border: 4px solid var(--light);
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#main-title {
  font-size: 2rem;
  color: var(--main-title);
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.6);
}

#sub-title {
  font-size: 0.8rem;
  margin-top: 20px;
  color: var(--sub-title);
}

.info-container {
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  padding: 20px;
}

.image-container img {
  border: 2px solid var(--light);
  max-height: 350px;
}

.stats-container {
  color: var(--secondary);
}

.stats-p {
  margin: 5px;
}

/* next step is the .form-container */
