<footer class="footer">
  <div class="footer-container">
    <p>
      Built with ❤️ by
      <a
        href="https://x.com/0xMarcAurel"
        rel="noopener noreferrer"
        target="_blank"
        class="twitter-username"
        >0xMarcAurel</a
      >
    </p>
  </div>
</footer>
