<header class="header" role="banner">
  <div class="header-container">
    <nav class="nav" role="navigation" aria-label="Navigation">
      <ul>
        <li><a href="/">PokéFinder</a></li>
        <li><a href="#about">About</a></li>
        <li>
          <a
            href="https://pokeapi.co/"
            rel="noopener noreferrer"
            target="_blank"
            >PokéAPI</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
