<header class="header" role="banner">
  <div class="header-container">
    <nav class="nav" role="navigation" aria-label="Navigation">
      <div class="hamburger">
        <img src="/images/burger-menu.svg" alt="Menu icon" />
      </div>
      <div class="pokefinder-container">
        <a href="/">
          <img
            id="header-icon"
            src="/images/pokeball-header.png"
            alt="pokeball icon"
          />
          PokéFinder</a
        >
      </div>

      <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li>
          <a
            href="https://pokeapi.co/"
            rel="noopener noreferrer"
            target="_blank"
            >PokéAPI</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
